<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="catSpeed" value="2" />
		<add key="birdSpeed" value="3" />
		<add key="dogSpeed" value="1.8" />
		<add key="fishSpeed" value="1.2" />
		<add key="snakeSpeed" value="0.5" />
	</appSettings>
</configuration>